.wunrav-video-wrapper{max-width:100%;height:0;padding-bottom:56.2%;position:relative;margin-left:0;margin-right:0}.wunrav-video-wrapper iframe,.wunrav-video-wrapper object,.wunrav-video-wrapper embed{position:absolute;top:0;left:0;max-width:100%;max-height:100%;border:0}.wunrav-video-wrapper.aligncenter{text-align:center}
