.wunrav-video-wrapper {
    max-width: 100%;
    height: 0;
    padding-bottom: 56.2%; /* keep 16:9 aspect ratio */
    position: relative;
    margin-left: 0;
    margin-right: 0;

    iframe,
    object,
    embed {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
        border: 0;
    }

    &.aligncenter { text-align: center; }
}
